<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Aunction Product</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/style.css">

	<link rel="shortcut icon" type="image/x-icon" href="/static/img/Webp.net-resizeimage.png">
	<!-- Place favicon.ico in the root directory -->

	<!-- Google Font -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

	<!-- all css here -->
	<!-- bootstrap v3.3.6 css -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- jquery-ui.min css -->
	<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
	<!-- meanmenu css -->
	<link rel="stylesheet" href="/static/css/meanmenu.min.css">
	<!-- nivo-slider css -->
	<link rel="stylesheet" href="/static/lib/css/nivo-slider.css">
	<link rel="stylesheet" href="/static/lib/css/preview.css">
	<!-- slick css -->
	<link rel="stylesheet" href="/static/css/slick.css">
	<!-- lightbox css -->
	<link rel="stylesheet" href="/static/css/lightbox.min.css">
	<!-- material-design-iconic-font css -->
	<link rel="stylesheet" href="/static/css/material-design-iconic-font.css">
	<!-- All common css of theme -->
	<link rel="stylesheet" href="/static/css/default.css">
	<!-- shortcode css -->
	<link rel="stylesheet" href="/static/css/shortcode.css">
	<!-- responsive css -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- modernizr css -->
	<script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg  static-top">
		
			<a class="navbar-brand" href="https://sn.comparez.co">
				<img id="logo" src="/static/img/Webp.net-resizeimage.png">
			</a>
		
	</nav>

	<!-- Page Content -->
	<!-- /.container -->
	<!-- WRAPPER START -->
	<div class="wrapper bg-dark-white">
		<div class="container1">
			<center>
				<a href="https://sn.comparez.co/search/?q=ordinateur&source=sn%2Cebay%2Ccdis%2Camz&min=90000&max=1000000" >
				<img src="/static/img/banner.png" id="image5">
				</a>
			</center>
		</div>
		<!-- PRODUCT-AREA START -->
		<div class="product-area single-pro-area pt-80 pb-80 product-style-2">
			<div class="container">
				<div class="row shop-list single-pro-info no-sidebar">
					<!-- Single-product start -->
					<div class="col-lg-12">
						<div class="single-product clearfix">
							<!-- Single-pro-slider Big-photo start -->
							<div class="single-pro-slider single-big-photo view-lightbox slider-for">
								<div>
									<img src="/static/img/12.jpg" alt="" />
									<a class="view-full-screen" href="/static/img/12.jpg" data-lightbox="roadtrip"
									 data-title="Product image">
										<i class="zmdi zmdi-zoom-in"></i>
									</a>
								</div>

							</div>
							<!-- Single-pro-slider Big-photo end -->
							<div class="product-info">
								<div class="fix">
									<h1 class="post-title floatleft">Téléviseur TOSHIBA LED 32″ HD avec film USB</h1>
									<div itemprop="offers">
                                            <p class="price"><span class="auction-price current-bid"data-status="running">
                                                <span class="current auction">État Enchère :</span>
                                                <span class="amount">
                                                    <span class="Price-currencySymbol">{{max}}</span> FCFA</span>
                                                </span>
                                            </p>
                                        </div>
								</div>

								<div class="clearfix">
									<br>
									<p class="post-title floatleft" style="font-size: 30px; color:red">Temps Restant : &nbsp; </p>
									<p id="demo" style="font-size: 30px; text-align : left; color:red;margin-top:-10px"></p>
								</div>
								<br>

								<div class="product-description">
									<p style="font-size:20px">Toshiba vous offre une sélection étonnante avec une qualité d’image sans compromis. Ses technologies ont été spécialement développées pour reproduire des images réalistes</p>
								</div>

								<form class="form-inline">
									<div style="margin: 25px 70px">
										<button type="button" style="font-size: 20px;border-radius: 10px;color:yellow;background-color: rgb(8, 8, 8);"
										 class="btn" id="btn1">&nbsp;+5000&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
										<button type="button" style="font-size: 20px;color:yellow; background-color: rgb(8, 8, 8);border-radius: 10px;box-shadow: 0 8px 16px 0 rgb(241, 239, 239), 0 6px 20px 0 rgb(241, 239, 239);"
										 class="btn" id="btn2">+10000</button>&nbsp;&nbsp;&nbsp;&nbsp;
										<button type="button" style="font-size: 20px;color:yellow; background-color: rgb(8, 8, 8);border-radius: 10px;box-shadow: 0 8px 16px 0 rgb(241, 239, 239), 0 6px 20px 0 rgb(241, 239, 239);"
										 class="btn" id="btn3">+15000</button>
									</div>
									<div class="form-group mx-sm-3 mb-2" id="test">
										<label for="prix" style="font-size:20px">Enchérir directement &nbsp;</label><br>
										<input type="number" class="form-control" id="prix" value="0">
									</div>
									<button type="button" class="btn valide btn-primary" id="btnSub" style="border-radius: 12px; background-color: rgb(8, 8, 8); margin-top:6px">Valider</button>
								</form>
								<br>
								<h4 class="post-title floatleft">Prochaine enchère :&nbsp;</h4>
								<br>
								<!-- Single-pro-slider Small-photo start -->
								<div class="single-pro-slider single-sml-photo slider-nav">
									<div>
										<img src="/static/img/single-product/small/3.jpg" />
										<div style="text-align:center;"><br>
											<button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="border-radius: 12px;background-color: rgb(8, 8, 8)">M'informer</button>
										</div>
									</div>
									<div>
										<img src="/static/img/single-product/small/4.jpg" />
										<div style="text-align:center;"><br>
											<button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="border-radius: 12px;background-color: rgb(8, 8, 8)">M'informer</button>
										</div>
									</div>
									<div>
										<img src="/static/img/single-product/small/5.jpg" />
										<div style="text-align:center;"><br>
											<button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="border-radius: 12px;background-color: rgb(8, 8, 8)">M'informer</button>
										</div>
									</div>
									<div>
										<img src="/static/img/single-product/small/6.jpg" />
										<div style="text-align:center;"><br>
											<button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="border-radius: 12px;background-color: rgb(8, 8, 8)">M'informer</button>
										</div>
									</div>
									<div>
										<img src="/static/img/single-product/small/2.jpg" />
										<div style="text-align:center;"><br>
											<button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="border-radius: 12px;background-color: rgb(8, 8, 8)">M'informer</button>
										</div>
									</div>
								</div>
								<!-- Single-pro-slider Small-photo end -->
							</div>
						</div>
					</div>
					<!-- Single-product end -->
				</div>
				<!-- single-product-tab start -->
				<div class="single-pro-tab">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="single-pro-tab-menu">
								<!-- Nav tabs -->
								<ul class="">
									<li><a href="#description" data-toggle="tab">Description</a></li>
									<li class="active"><a href="#reviews" data-toggle="tab">Historique</a></li>
									<li><a href="#information" data-toggle="tab">Contactez-nous</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane" id="description">
									<div class="pro-tab-info pro-description">
										<h3 class="tab-title title-border mb-30">Téléviseur TOSHIBA LED 32″ HD avec film USB</h3>
										<p>Toshiba vous offre une sélection étonnante avec une qualité d’image sans compromis. Ses technologies ont été spécialement développées pour reproduire des images réalistes avec les détails naturels les plus élevés possibles pour une expérience visuelle immersive et inspirante.</p>
										<h3>Interface multimédia en haute définition</h3>
										<p>Les téléviseurs Toshiba sont équipés d’une borne HDMI pour faciliter les connexions vidéo et audio non compressées entièrement numériques, qui prennent en charge les signaux vidéo haute définition et les signaux audio multicanaux. Grâce à la technologie HDMI, vous bénéficiez d’une reproduction audiovisuelle entièrement numérique idéale, offrant une qualité d’image sans bruit et de haute précision.</p>
										<h3>Film USB</h3>
										<p>La fonction USB Movie de Toshiba prend en charge de nombreux formats de lecture vidéo, ce qui vous permet de bénéficier d’une meilleure compatibilité de lecture sur la plupart des formats vidéo populaires couramment disponibles sur le marché.</p>
										<h3>Caractéristiques du produit</h3>
										<ul>
											<li>Type de produit: HD TV</li>
											<li>Taille de l’écran: 32″ (81 cm)</li>
											<li>Technologie d’écran: DLED</li>
											<li>Résolution: 1366 x 768 (hd ready)</li>
											<li>Sortie haut-parleur: 8 + 8 watts</li>
											<li>Voltage: 110-240V</li>
											<li>Horloge: Oui</li>
											<li>Profondeur: 188 mm</li>
											<li>Langues du menu interne: Anglais / arabe / russe / finnois</li>
											<li>Multilingues: Oui</li>
											<li>Nombre d’haut-parleurs: 2</li>
											<li>Modes d’image: Standard / Musique / Film / Sports / Utilisateur</li>
											<li>Consommation d’énergie: 50 watts</li>
											<li>Modèle télécommande: CT-32F0</li>
											<li>Amélioration du son: Dolby</li>
										</ul>
									</div>
								</div>

								<div class="tab-pane active" id="reviews">
									<div class="pro-tab-info pro-reviews">
										<div class="customer-review mb-60">
											<h3 class="tab-title title-border mb-30">Historique des enchères</h3>
											<table id="auction-history" class="table">
												<thead>
													<tr>
														<th>Date</th>
														<th>Enchère</th>
														<th>Utilisateur</th>
													</tr>
												</thead>

												<tbody>
													{% for item in data %}
													<tr>
														<td class="date">{{item.date}}</td>
														<td class="bid">
															<span class="amount">
																<span class="Price-currencySymbol">FCFA&nbsp;</span>{{item.prix}}
															</span>
														</td>
														<td>{{item.nom}}</td>
													</tr>
													{% endfor %}

												</tbody>

												<tbody>
													<tr class="start">
														<td class="date">2019-03-08 08:00:00</td>
														<td colspan="3" class="started">Auction started</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="information">
									<div class="pro-tab-info pro-information">
										<form action="/upload2" method="POST">
											<input type="text" class="form-control" name="email" placeholder="Votre E-mail">
											<textarea rows="6" class="form-control" name="message" placeholder="Votre message"></textarea><br>
											<button type="submit" class="btn btn" style="border-radius: 12px;color: white; background-color:black; float: right;">Envoyer</button>

											<form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- single-product-tab end -->
			</div>
		</div>
		<!-- PRODUCT-AREA END -->

		<!-- Modal 1 -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		 aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="exampleModalLongTitle">Recevoir une alerte à la prochaine enchère </h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="/upload1" method="POST">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="nom">Nom</label>
									<input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom">
								</div>
								<div class="form-group col-md-6">
									<label for="prenom">Prenom</label>
									<input type="text" class="form-control" id="prenom" name="prenom" placeholder="votre prénom">
								</div>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="email" name="email" placeholder="votre email">
							</div>
							<div class="form-group">
								<label for="telephone">Telephone</label>
								<input type="text" class="form-control" id="telephone" name="numero" placeholder="votre numero">
							</div>
							<button type="submit" style="color:white" class="btn btn">Envoyer</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal 2 -->
		<div class="modal fade" id="price" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="bid"></h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="/upload" method="POST">

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="nom">Nom</label>
									<input type="text" class="form-control" id="nom" placeholder="Votre nom" name="nom" value={{data1}}>
								</div>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="inputAddress" placeholder="votre email" name="email" value={{data2}}>
							</div>
							<div class="form-group">
								<label for="telephone">Telephone</label>
								<input type="text" class="form-control" id="telephone" placeholder="votre numero" name="numero" value={{data3}}>
							</div>
							<input type="text" style="visibility: hidden" id="input-prix" name="price">
							<button type="submit" style="color:white" class="btn btn">Envoyer</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- WRAPPER END -->

	<!-- all js here -->
	<!-- jquery latest version -->
	<script src="/static/js/vendor/jquery-1.12.0.min.js"></script>
	<!-- bootstrap js -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- jquery.meanmenu js -->
	<script src="/static/js/jquery.meanmenu.js"></script>
	<!-- slick.min js -->
	<script src="/static/js/slick.min.js"></script>
	<!-- jquery.treeview js -->
	<script src="/static/js/jquery.treeview.js"></script>
	<!-- lightbox.min js -->
	<script src="/static/js/lightbox.min.js"></script>
	<!-- jquery-ui js -->
	<script src="/static/js/jquery-ui.min.js"></script>
	<!-- jquery.nivo.slider js -->
	<script src="/static/lib/js/jquery.nivo.slider.js"></script>
	<script src="/static/lib/home.js"></script>
	<!-- jquery.nicescroll.min js -->
	<script src="/static/js/jquery.nicescroll.min.js"></script>
	<!-- countdon.min js -->
	<script src="/static/js/countdon.min.js"></script>
	<!-- wow js -->
	<script src="/static/js/wow.min.js"></script>
	<!-- plugins js -->
	<script src="/static/js/plugins.js"></script>
	<!-- main js -->
	<script src="/static/js/main.js"></script>

	<script>
		// Set the date we're counting down to
		var countDownDate = new Date("Mar 10, 2019 08:00:00").getTime();
		// Update the count down every 1 second
		var x = setInterval(function () {
			// Get todays date and time
			var now = new Date().getTime();
			// Find the distance between now and the count down date
			var distance = countDownDate - now;
			// Time calculations for days, hours, minutes and seconds
			var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			// Output the result in an element with id="demo"
			document.getElementById("demo").innerHTML = days + "d " + hours + "h " +
				minutes + "m " + seconds + "s ";

			// If the count down is over, write some text 
			if (distance < 0) {
				clearInterval(x);
				document.getElementById("demo").innerHTML = "EXPIRED";
			}
		}, 1000);

		// buton interactive
		document.querySelector('#btn1').addEventListener('click', function (event) {
			var prix = parseInt($("#prix").val()) + 5000
			$("#prix").val(prix)
		});
		document.querySelector('#btn2').addEventListener('click', function (event) {
			var prix = parseInt($("#prix").val()) + 10000
			$("#prix").val(prix)
		});
		document.querySelector('#btn3').addEventListener('click', function (event) {
			var prix = parseInt($("#prix").val()) + 15000
			$("#prix").val(prix)
		});
		$(document).ready(function () {
			$("#btnSub").click(function () {
				$("#price").modal();
				var prix = $("#prix").val()
				$("#bid").text("Confirmer votre enchère au montant de " + prix + " XOF")
				$('#input-prix').val(prix)
			});
		});
	</script>
</body>

</html>
